<!doctype html>
<html dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= appName %></title>
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" href="/favicon.png" />

  <link rel="stylesheet" href="/bower_components/trix/dist/trix.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
  <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
  <link rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css" />
  <link rel="stylesheet" href="/bower_components/ImageViewer/imageviewer.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">

</head>

<body layout="column" ng-app="app" md-scroll-y ng-controller="MainCtrl" ng-cloak translate-cloak="any">
  <section layout="row" flex>
    <% if (user) { %>
    <md-sidenav id="side-menu" md-colors="::{ background: 'dark', color: 'white' }" md-component-id="leftMenu"
      md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar md-colors="::{background: 'dark'}">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <h5 translate-cloak="HI">
            <span translate="HI"></span>
            <%= user.name %>
          </h5>
        </div>
      </md-toolbar>
      <md-content>

        <md-list md-colors="::{background: 'dark', color: 'white'}"><br />

          <md-list-item aria-label="Dashboard" md-no-ink href="/admin/welcome" class="<%= page === 'welcome' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="DASHBOARD" translate-cloak="DASHBOARD">
            </div>
          </md-list-item>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('places') > -1)) { %>

          <md-list-item aria-label="Places" md-no-ink href="/admin/places" class="<%= page === 'places' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="PLACES" translate-cloak="PLACES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('categories') > -1)) { %>

          <md-list-item aria-label="Categories" md-no-ink href="/admin/categories" class="<%= page === 'categories' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="CATEGORIES" translate-cloak="CATEGORIES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('users') > -1)) { %>

          <md-list-item aria-label="Users" md-no-ink href="/admin/users" class="<%= page === 'users' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="USERS" translate-cloak="USERS"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('customers') > -1)) { %>

          <md-list-item aria-label="Customers" md-no-ink href="/admin/customers" class="<%= page === 'customers' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="CUSTOMERS" translate-cloak="CUSTOMERS"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('reviews') > -1)) { %>

          <md-list-item aria-label="Reviews" md-no-ink href="/admin/reviews" class="<%= page === 'reviews' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="REVIEWS" translate-cloak="REVIEWS"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('slide_images') > -1)) { %>

          <md-list-item aria-label="Slider Images" md-no-ink href="/admin/slider-images" class="<%= page === 'slider-images' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="SLIDER_IMAGES" translate-cloak="SLIDER_IMAGES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('slides') > -1)) { %>

          <md-list-item aria-label="Slides" md-no-ink href="/admin/slides" class="<%= page === 'slides' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="SLIDES" translate-cloak="SLIDES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('packages') > -1)) { %>

          <md-list-item aria-label="Packages" md-no-ink href="/admin/packages" class="<%= page === 'packages' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="PACKAGES" translate-cloak="PACKAGES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('user_packages') > -1)) { %>

          <md-list-item aria-label="User packages" md-no-ink href="/admin/user-packages" class="<%= page === 'user-packages' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="USER_PACKAGES" translate-cloak="USER_PACKAGES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('posts') > -1)) { %>

          <md-list-item aria-label="Posts" md-no-ink href="/admin/posts" class="<%= page === 'posts' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="POSTS" translate-cloak="POSTS"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('pages') > -1)) { %>
          <md-list-item aria-label="Pages" md-no-ink href="/admin/pages" class="<%= page === 'pages' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="PAGES" translate-cloak="PAGES"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('notifications') > -1)) { %>
          <md-list-item aria-label="Notifications" md-no-ink href="/admin/notifications" class="<%= page === 'notifications' ? 'active' : '' %>">
            <div class="inset bold text-small" translate="NOTIFICATIONS" translate-cloak="NOTIFICATIONS"></div>
          </md-list-item>

          <% } %>

          <% if (user.type === 'super_admin' || (user.type === 'admin' &&
          user.permissions && user.permissions.indexOf('config') > -1)) { %>
          <md-list-item md-no-ink aria-label="App config" ng-click="onPresentAppConfigView($event)">
            <div class="inset bold text-small" translate="APP_CONFIG" translate-cloak="APP_CONFIG"></div>
          </md-list-item>

          <% } %>

          <md-list-item md-no-ink aria-label="Change password" ng-click="onChangePassword($event)">
            <div class="inset bold text-small" translate="CHANGE_PASSWORD" translate-cloak="CHANGE_PASSWORD"></div>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item aria-label="Logout" md-no-ink href="/auth/logout">
            <div class="inset bold text-small" translate="LOGOUT" translate-cloak="LOGOUT"></div>
          </md-list-item>

        </md-list>

      </md-content>
    </md-sidenav>
    <% } %>

    <md-content id="content-page" layout="column" flex>
      <md-toolbar md-colors="::{background: 'white'}">
        <div class="md-toolbar-tools">
          <% if (user) { %>
          <md-button ng-click="toggle()" hide-gt-md aria-label="Menu">
            <ng-md-icon class="icon" icon="menu" layout="column" layout-align="center center">
            </ng-md-icon>
          </md-button>
          <% } %>
          <h3><%= appName %></h3>

        </div>
      </md-toolbar>
      <md-content flex class="content" layout-padding>
        <div class="padding" flex>
          <%- body %>
        </div>
      </md-content>
    </md-content>
  </section>

  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/bower_components/jQuery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
  <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
  <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
  <script
    src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
  
  <script src="/bower_components/tinymce/tinymce.js"></script>
  <script src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <script src="/bower_components/ImageViewer/imageviewer.min.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="/bower_components/trix/dist/trix.js"></script>
  <script src="/bower_components/angular-trix/dist/angular-trix.min.js"></script>
  <script src="/bower_components/angular-i18n/angular-locale_<%= lang %>.js"></script>
  <script src="/scripts/lib/img-fallback.js"></script>
  <script src="https://unpkg.com/parse@3.2.0/dist/parse.min.js"></script>
  <script src="/bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
  <script src="/bower_components/angular-js-xlsx/angular-js-xlsx.js"></script>
  <script>
    document.addEventListener('wheel', function (event) {
      if (document.activeElement.type === 'number') {
        document.activeElement.blur();
      }
    });
  </script>

  <script>
    angular.module('app', ['ngAnimate', 'ngAria', 'ngMessages', 'pascalprecht.translate',
      'ngRoute', 'ngMdIcons', 'md.data.table', 'ngMaterial', 'google.places',
      'ngFileUpload', 'ngMap', 'imgFallback', 'angularMoment', 'ui.tinymce',
      'ngStorage', 'ngCookies', 'angularTrix', 'angular-js-xlsx',
    ]).run(function ($rootScope, Auth, Place, Category, User, Post, UserPackage) {

      Parse.initialize('<%= appId %>');
      Parse.serverURL = '<%= serverUrl %>';
      Parse.idempotency = true;

      User.getInstance();
      Category.getInstance();
      Place.getInstance();
      Post.getInstance();
      UserPackage.getInstance();

      $rootScope.currencySymbol = '<%= currency %>';

      <% if (user) { %>
        Auth.setSessionToken('<%= user.sessionToken %>');
      <% } else { %>
        if (Auth.getLoggedUser()) {
          Auth.logOut();
        }
      <% } %>

    }).config(function ($mdThemingProvider, $translateProvider, $qProvider) {

          $translateProvider.useStaticFilesLoader({
            prefix: '/i18n/',
            suffix: '.json'
          });

          $translateProvider.preferredLanguage('<%= lang %>');
          $translateProvider.fallbackLanguage('en');
          $translateProvider.useLoaderCache(true);
          $translateProvider.useSanitizeValueStrategy('escaped');

          // Generate your own theme here --> http://mcg.mbitson.com/

          $mdThemingProvider.definePalette('mcgpalette0', {
            '50': 'e1eefb',
            '100': 'b4d4f5',
            '200': '82b8ee',
            '300': '4f9be7',
            '400': '2a85e1',
            '500': '0470dc',
            '600': '0368d8',
            '700': '035dd3',
            '800': '0253ce',
            '900': '0141c5',
            'A100': 'edf2ff',
            'A200': 'baccff',
            'A400': '87a6ff',
            'A700': '6e93ff',
            'contrastDefaultColor': 'light',
            'contrastDarkColors': [
              '50',
              '100',
              '200',
              '300',
              'A100',
              'A200',
              'A400',
              'A700'
            ],
            'contrastLightColors': [
              '400',
              '500',
              '600',
              '700',
              '800',
              '900'
            ]
          });

          var whiteMap = $mdThemingProvider.extendPalette('grey', {
            '500': '#ffffff', 'contrastDefaultColor': 'dark'
          });

          $mdThemingProvider.definePalette('white', whiteMap);

          var dark = $mdThemingProvider.extendPalette('mcgpalette0', {
            '500': '#444', 'contrastDefaultColor': 'white'
          });

          $mdThemingProvider.definePalette('dark', dark);
          $mdThemingProvider.theme('default').primaryPalette('mcgpalette0').accentPalette('grey');

          $qProvider.errorOnUnhandledRejections(false);

        });
  </script>

  <script src="/scripts/controllers/MainController.js"></script>
  <script src="/scripts/controllers/ChangePasswordController.js"></script>
  <script src="/scripts/controllers/ResetPasswordController.js"></script>
  <script src="/scripts/controllers/PlaceController.js"></script>
  <script src="/scripts/controllers/ReviewController.js"></script>
  <script src="/scripts/services/ReviewService.js"></script>
  <script src="/scripts/services/PlaceService.js"></script>
  <script src="/scripts/controllers/CategoryController.js"></script>
  <script src="/scripts/services/CategoryService.js"></script>
  <script src="/scripts/controllers/UserController.js"></script>
  <script src="/scripts/services/UserService.js"></script>
  <script src="/scripts/services/ToastService.js"></script>
  <script src="/scripts/services/AuthService.js"></script>
  <script src="/scripts/services/FileUploadService.js"></script>

  <script src="/scripts/controllers/PostController.js"></script>
  <script src="/scripts/services/PostService.js"></script>

  <script src="/scripts/controllers/NotificationController.js"></script>
  <script src="/scripts/services/NotificationService.js"></script>

  <script src="/scripts/controllers/SliderImageController.js"></script>
  <script src="/scripts/services/SliderImageService.js"></script>

  <script src="/scripts/controllers/AppConfigController.js"></script>
  <script src="/scripts/services/AppConfigService.js"></script>

  <script src="/scripts/controllers/PageController.js"></script>
  <script src="/scripts/services/PageService.js"></script>

  <script src="/scripts/controllers/SlideIntroController.js"></script>
  <script src="/scripts/services/SlideIntroService.js"></script>

  <script src="/scripts/controllers/PackageController.js"></script>
  <script src="/scripts/services/PackageService.js"></script>

  <script src="/scripts/controllers/UserPackageController.js"></script>
  <script src="/scripts/services/UserPackageService.js"></script>

  <script src="//maps.google.com/maps/api/js?libraries=places&key=<%= googleMapsApiKey %>&language=<%= lang %>"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.0/date_fns.min.js"></script>
  <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
  <script src="/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>

</body>

</html>